/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */

/*-----------------font-------------------*/
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;600;700&display=swap');
body {
   font-family: 'Prompt', sans-serif;
   letter-spacing: 0.06em;
}

#wrapper {
   padding: 0;
}
/*-----------------slider----------------*/
#carousel figure img {
   height: 630px;
}
.carousel .carousel-item figure {
   position: relative;
   width: -webkit-fill-available;
}
.carousel .carousel-inner {
   height: fit-content;
}
.carousel .carousel-item img {
   height: 100%;
}
.carousel .carousel-item .caption {
   max-width: 582px;
   top: 55%;
   left: 50%;
   transform: translate(-50%, -50%);
}
#custom-text-slider{
   text-align: center;
}
#custom-text-slider h2 {
   font-size: 2rem;
   color: #fff;
   font-weight: 500;
   margin-bottom: 1.5rem;
}
#custom-text-slider p {
   font-size: 1.5rem;
   margin-bottom: 1.625rem;
}
a.main-button-slider {
   display: inline-block;
   margin-top: 1.25rem;
   padding: 1rem 2rem;
   font-size: 1.125rem;
   color: #fff;
   border: 1px solid #fff;
}

#carousel .direction {
   display: none;
}

#carousel figure img {
   height: auto;
}

@media (max-width: 1440px) {
   #custom-text-slider h2 {
      margin-bottom: 1rem;
      font-size: 1.5rem;
   }
   #custom-text-slider p {
      margin-bottom: 1rem;
      font-size: 1.25rem;
   }
   a.main-button-slider {
      margin-top: 0.5rem;
      padding: 0.5rem 1rem;
      font-size: 1.125rem;
   }
}
@media (max-width: 1200px) {
   #carousel figcaption {
      top: 50%;
}
}
@media (max-width: 991px) {
   #carousel figcaption {
      margin: 0;
      top: 50%;
   }
   .carousel .carousel-item .caption {
      position: absolute;
      top: 50%;
   }
   .carousel .carousel-item .caption .caption-description p{
      color: #fff;
   }
   #custom-text-slider h2 {
      margin-bottom: 0.5rem;
      font-size: 1.25rem;
   }
   #custom-text-slider p {
      margin-bottom: 0.5rem;
      font-size: 1rem;
   }
   a.main-button-slider {
      margin-top: 0.25rem;
      padding: 0.25rem 0.5rem;
      font-size: 1rem;
   }
}
@media (max-width: 768px) {
   .carousel .carousel-item img {
      width: fit-content;
   }
   #carousel figure img {
      height: 350px;
      object-fit: cover;
   }
}
@media (min-width: 576px) {
   .carousel-indicators {
      display: none;
   }
}
/*--------------custom text-------------------
#custom-text {
   padding: 0;
   background-image: url("/img/cms/slider-home.jpg");
}
.custom-text-text {
   max-height: 630px;
   max-width: 100%;
   height: auto;
}
#custom-text-header {
   position: relative;
}
.custom-text-text {
   position: absolute;
   top:0%;
}
@media (max-width: 425px) {
   #custom-text-slider p {
      font-size: 14px;
   }
   a.main-button-slider {
      font-size: 14px;
   }
}-------------------------------------*/

/*-------------section with icons-------------*/
#section-ikons {
   margin: 40px 0;
   display: flex;
   justify-content: space-around;
   box-shadow: black;
}
 #section-ikons .ikons {
   text-align: center;
   margin-top: auto;
}
 #section-ikons .ikon-label {
   margin: 26px 0 0 0;
   text-transform: uppercase;
}

@media (min-width: 992px) {
   .content-anywhere-displayhome>.container>.row>.col-12.col-lg-6 {
      width: 100%;
   }
}
@media (max-width: 992px) {
   #section-ikons{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 30px;
   }
}

/*--------------------section o naszej firmie---------------------------*/
#firma {
   margin-bottom: 60px;
}
#firma hr {
   margin-top: 0.65rem;
}
#firma h2 {
   margin-bottom: 0;
   color: #181818;
}
#firma h3 {
   color: #5A5A5A;
}
#firma p {
   text-align: justify;
}
.firma-title {
   margin: 52px 0;
   position: relative;
   text-align: center;
 }
.firma-title_hr {
   position: absolute;
   display: flex;
   right: 50%;
   transform: translate(50%);
 }
.firma-title_hr_left, .firma-title_hr_right {
   width: 7.565vw;
   border: 1px solid #959595;
 }
.firma-title_hr_left {
   margin-right: 247px;
}
 /* .photo-text {
   display: flex;
 } */
.photo-text_photo {
   float: left;
   margin-right: 50px;
 }
.text-ikons-firma {
   clear: left;
 }
.text-ikons-firma {
   margin-top: 58px;
   display: flex;
   justify-content: space-between;
 }
.text-ikons-firma_p {
   width: 580px;
 }
.ikons-firma {
   margin-top: -34px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   row-gap: 55px;
   column-gap: 80px;
 }
.ikons-firma_ikon {
   text-align: center;
 }
.ikons-firma_ikon>img {
   margin-bottom: 20px;
}
#firma .ikon-label-firma {
   margin-bottom: 0;
   font-weight: 500;
   font-size: 17px;
   color: #494949;
   text-align: center;
 }
#firma .ikon-label-firma-p {
   margin-bottom: 0;
   font-weight: 500;
   font-size: 12px;
   text-align: center;
}

@media (max-width: 1199px) {
   .photo-text_photo {
      margin-right: 25px;
      max-height: 224px;   
   }
   .text-ikons-firma_p {
      width: 450px;
   }
}
@media (max-width: 991px) {
   .text-ikons-firma {
      margin-top: 24px;
   }
   .text-ikons-firma_p {
      width: 336px;
  }
   .ikons-firma {
      margin-top: 0;
      row-gap: 0;
      column-gap: 0;
   }
}
@media (max-width: 767px) {
   .photo-text_photo {
      width: 480px;
      max-height: 320px;
      margin: 0 0 26px 0;
   }
   .text-ikons-firma {
      margin: 24px 0;
      display: block;
   }
   .text-ikons-firma_p {
      width: auto;
   }
   .ikons-firma {
      row-gap: 14px;
   }
}
@media (max-width: 575px) {
   .photo-text_photo {
      width: 88vw;
   }
}
@media (max-width: 499px) {
   .photo-text_photo {
      width: 87vw;
   }
}
@media (max-width: 425px) {
   .photo-text_photo {
      width: 85vw;
   }
}