/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css*/


/*-----------------font-------------------*/
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;600;700&display=swap');

body {
   font-family: 'Prompt', sans-serif;
   letter-spacing: 0.06em;
}

/* ----------------color---------------- */
:root {
   --main-color: #EFD246;
   --main-filter: invert(100%) sepia(73%) saturate(2166%) hue-rotate(326deg) brightness(104%) contrast(87%);
}

.a:hover {
   color: var(--main-color);
}

a.link-cart {
   color: #3E3E3E;
}

a.link-cart:hover {
   color: #3E3E3E;
   text-decoration: underline solid var(--main-color);
}

.btn-primary.focus,
.btn-primary:focus {
   background-color: var(--main-color);
}

.btn-outline-primary {
   color: var(--main-color);
   border-color: var(--main-color);
}

.btn-outline-primary:hover {
   background-color: var(--main-color);
   border-color: var(--main-color);
}

.btn-outline-primary.focus,
.btn-outline-primary:focus {
   background-color: var(--main-color);
   border-color: var(--main-color);
}

.btn-outline-primary.active,
.btn-outline-primary:active,
.open>.btn-outline-primary.dropdown-toggle {
   background-color: var(--main-color);
   border-color: var(--main-color);
}

.btn-link {
   color: var(--main-color);
}

.dropdown-item.active,
.dropdown-item.active:focus,
.dropdown-item.active:hover {
   text-decoration: none;
   background-color: var(--main-color);
}

.nav-pills .nav-item.open .nav-link,
.nav-pills .nav-item.open .nav-link:focus,
.nav-pills .nav-item.open .nav-link:hover,
.nav-pills .nav-link.active,
.nav-pills .nav-link.active:focus,
.nav-pills .nav-link.active:hover {
   background-color: var(--main-color);
}

.card-primary {
   background-color: var(--main-color);
   border-color: var(--main-color);
}

.card-outline-primary,
.card-outline-secondary {
   border-color: var(--main-color);
}

.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover {
   background-color: var(--main-color);
   border-color: var(--main-color);
}

.page-link {
   color: var(--main-color);
}

.tag-primary {
   background-color: var(--main-color);
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
   background-color: var(--main-color);
   border-color: var(--main-color);
}

.block_newsletter form input[type=text]:focus+button .search,
.btn-unstyle:focus .expand-more,
.search-widget form input[type=text]:focus+button .search {
   color: var(--main-color);
}

.form-control:focus {
   outline: .1875rem solid var(--main-color);
}

.input-group.focus {
   outline: .1875rem solid var(--main-color);
}

.dropdown-item:focus,
.dropdown-item:hover {
   color: var(--main-color);
}

.search-widget form input[type=text]:focus {
   outline: 3px var(--main-color) solid;
}

body#checkout section.checkout-step .address-item.selected {
   border: var(--main-color) 3px solid;
}

.product-miniature .highlighted-informations .quick-view:hover {
   color: var(--main-color);
}

.facet-dropdown.open>.select-title {
   border: 3px solid var(--main-color);
}

.facet-dropdown .select-list:hover {
   background: var(--main-color);
}

.pagination .current a {
   color: var(--main-color);
}

#subcategories ul li .subcategory-name:hover,
.block-categories .arrows .arrow-down:hover,
.block-categories .arrows .arrow-right:hover,
.block-categories .collapse-icons .add:hover,
.block-categories .collapse-icons .remove:hover,
.cart-grid-body a.label:hover {
   color: var(--main-color);
}

#subcategories ul li:hover .subcategory-image a {
   border: 5px solid var(--main-color);
}

.product-price {
   color: #323232;
}

.tabs .nav-tabs .nav-link.active {
   color: var(--main-color);

}

.tabs .nav-tabs .nav-link.active,
.tabs .nav-tabs .nav-link:hover {
   border-bottom: var(--main-color) 3px solid;
}

#product-modal .modal-content .modal-body .product-images img:hover {
   border: var(--main-color) 3px solid;
}

#blockcart-modal .product-name {
   color: var(--main-color);
}

.product-images>li.thumb-container>.thumb.selected,
.product-images>li.thumb-container>.thumb:hover {
   border: var(--main-color) 3px solid;
}

.product-flags li.product-flag {
   background: var(--main-color);
}

.product-customization .product-message:focus {
   outline: .1875rem solid var(--main-color);
}

.block-promo .promo-input+button {
   border: 2px solid var(--main-color);
}

.block-promo .promo-code-button.cancel-promo {
   color: var(--main-color);
}

.account-list a:hover,
.block_newsletter form button[type=submit] .search:hover,
.footer-container li a:hover {
   color: var(--main-color);
}

.block-social ul li:hover {
   background-color: var(--main-color);
}

.block_newsletter form input[type=text]:focus {
   outline: 3px var(--main-color) solid;
}

.block_newsletter form input[type=email]:focus {
   border: 3px var(--main-color) solid;
}

#header a:hover {
   color: #3E3E3E;
   text-decoration: none
}

#header .header-nav .cart-preview.active {
   background: var(--main-color);
}

#header .header-nav .blockcart a:hover {
   color: var(--main-color);
}

#tab-content p,
#tab-content a {
   color: #242424;
}

#tab-content .attachment {
   margin-bottom: 40px;
}

#product-availability .product-last-items,
#product-availability .product-unavailable {
   color: var(--main-color);
}

.btn,
.btn-primary {
   background: var(--main-color);
   transition-duration: 0.4s;
}

.btn:hover,
.btn-primary:hover {
   color: var(--main-color);
   background: none;
   border: 1px solid var(--main-color);
   transition-duration: 0.4s;
}

#wrapper {
   padding: 0;
   background: #fff;
}

/* ---------------header-nav----------------- */
#header .header-top-right {
   justify-content: space-between;
   padding: 0;
}

#header .header-top a[data-depth="0"] {
   padding: 0 6px;
   color: #414141;
   font-size: 15px;
   font-weight: 500;
   text-transform: none;
   transition-duration: 0.4s;

}

#header .header-top a[data-depth="0"]:hover {
   color: var(--main-color);
   transition-duration: 0.4s;
}

/*-------------------menu line----------------*/
#header .header-top .position-static {
   position: static;
   display: inline-flex;
   align-items: center;
}

#search_widget {
   margin-right: 10px;
   width: 30px;
   min-width: 2rem;
}

#search_widget form i {
   position: static;
   padding: 0;
}

#search_widget .search-window {
   display: none;
}

#_desktop_cart .header {
   display: flex;
}

#_desktop_cart .header img {
   margin-right: 5px;
}

#_desktop_cart .total-value {
   font-size: 14px;
}

/* ---------------hover on cart----------------*/
a.link-cart {
   margin-right: 10px;
   display: inline-flex;
   align-items: center;

}

#_desktop_user_info .btn-primary {
   color: #fff;
   text-transform: none;
   transition-duration: 0.4s;
}

#_desktop_user_info .btn-primary:hover {
   color: var(--main-color);
   transition-duration: 0.4s;
}

/*-----------------slider----------------*/
#carousel {
   margin-bottom: 0;
}

#carousel figure img {
   height: 630px;
}

.carousel .carousel-item figure {
   position: relative;
   width: -webkit-fill-available;
}

.carousel .carousel-inner {
   height: fit-content;
   margin-bottom: 0;
}

.carousel .carousel-item img {
   height: 100%;
}

.carousel .carousel-item .caption {
   max-width: 582px;
   top: 55%;
   left: 50%;
   transform: translate(-50%, -50%);
}

#custom-text-slider {
   text-align: center;
}

#custom-text-slider h2 {
   font-size: 2rem;
   color: #fff;
   font-weight: 500;
   margin-bottom: 1.5rem;
}

#custom-text-slider p {
   font-size: 1.5rem;
   margin-bottom: 1.625rem;
}

a.main-button-slider {
   display: inline-block;
   margin-top: 1.25rem;
   padding: 1rem 2rem;
   font-size: 1.125rem;
   color: #fff;
   border: 1px solid #fff;
   transition-duration: 0.4s;
}

a.main-button-slider:hover {
   color: var(--main-color);
   border: 1px solid var(--main-color);
   transition-duration: 0.4s;
}

#carousel .direction {
   display: none;
}

#carousel figure img {
   height: auto;
}

@media (max-width: 1440px) {
   #custom-text-slider h2 {
      margin-bottom: 1rem;
      font-size: 1.5rem;
   }

   #custom-text-slider p {
      margin-bottom: 1rem;
      font-size: 1.25rem;
   }

   a.main-button-slider {
      margin-top: 0.5rem;
      padding: 0.5rem 1rem;
      font-size: 1.125rem;
   }
}

@media (max-width: 1200px) {
   #carousel figcaption {
      top: 50%;
   }
}

@media (max-width: 991px) {
   #carousel.carousel {
      padding-bottom: 0;
   }

   #carousel figcaption {
      margin: 0;
      top: 50%;
   }

   .carousel .carousel-item .caption {
      position: absolute;
      top: 50%;
   }

   .carousel .carousel-item .caption .caption-description p {
      color: #fff;
   }

   #custom-text-slider h2 {
      margin-bottom: 0.5rem;
      font-size: 1.25rem;
   }

   #custom-text-slider p {
      margin-bottom: 0.5rem;
      font-size: 1rem;
   }

   a.main-button-slider {
      margin-top: 0.25rem;
      padding: 0.25rem 0.5rem;
      font-size: 1rem;
   }
}

@media (max-width: 768px) {
   .carousel .carousel-item img {
      width: fit-content;
   }

   #carousel figure img {
      height: 350px;
      object-fit: cover;
   }
}

@media (min-width: 576px) {
   .carousel-indicators {
      display: none;
   }
}

/*-------------section with icons-------------*/
#section-ikons {
   margin: 40px 0;
   display: flex;
   justify-content: space-around;
   box-shadow: black;
}

#section-ikons .ikons {
   text-align: center;
   margin-top: auto;
}

#section-ikons .ikon-label {
   margin: 26px 0 0 0;
   text-transform: uppercase;
}

@media (min-width: 992px) {
   .content-anywhere-displayhome>.container>.row>.col-12.col-lg-6 {
      width: 100%;
   }
}

@media (max-width: 992px) {
   #section-ikons {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 30px;
   }
}

/*--------------------section o naszej firmie---------------------------*/
#firma {
   margin-bottom: 60px;
}

#firma hr {
   margin-top: 0.65rem;
}

#firma h2 {
   margin-bottom: 0;
   color: #181818;
}

#firma h3 {
   color: #5A5A5A;
}

#firma p {
   text-align: justify;
   line-height: 218.7%;
}

.firma-title {
   margin: 52px 0;
   position: relative;
   text-align: center;
}

.firma-title_hr {
   position: absolute;
   display: flex;
   right: 50%;
   transform: translate(50%);
}

.firma-title_hr_left,
.firma-title_hr_right {
   width: 7.565vw;
   border: 1px solid #959595;
}

.firma-title_hr_left {
   margin-right: 247px;
}

.photo-text {
   display: flex;
}

.photo-text_photo {
   float: left;
   margin-right: 50px;
}

.text-ikons-firma {
   clear: left;
}

.text-ikons-firma {
   margin-top: 58px;
   display: flex;
   justify-content: space-between;
}

.text-ikons-firma_p {
   width: 580px;
}

.ikons-firma {
   margin-top: -34px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   row-gap: 55px;
   column-gap: 80px;
}

.ikons-firma_ikon {
   text-align: center;
}

.ikons-firma_ikon>img {
   margin-bottom: 20px;
}

#firma .ikon-label-firma {
   margin-bottom: 0;
   font-weight: 500;
   font-size: 17px;
   color: #494949;
   text-align: center;
}

#firma .ikon-label-firma-p {
   margin-bottom: 0;
   font-weight: 500;
   font-size: 12px;
   text-align: center;
}

@media (max-width: 1199px) {
   .photo-text_photo {
      margin-right: 25px;
      max-height: 224px;
   }

   .text-ikons-firma_p {
      width: 450px;
   }
}

@media (max-width: 991px) {
   .text-ikons-firma {
      margin-top: 24px;
   }

   .text-ikons-firma_p {
      width: 336px;
   }

   .ikons-firma {
      margin-top: 0;
      row-gap: 0;
      column-gap: 0;
   }
}

@media (max-width: 767px) {
   #firma .photo-text_photo {
      width: 480px;
      max-height: 320px;
      margin: 0 0 26px 0;
   }

   .text-ikons-firma {
      margin: 24px 0;
      display: block;
   }

   .text-ikons-firma_p {
      width: auto;
   }

   .ikons-firma {
      row-gap: 14px;
   }
}

@media (max-width: 575px) {
   #firma .photo-text_photo {
      width: 88vw;
   }
}

@media (max-width: 499px) {
   #firma .photo-text_photo {
      width: 87vw;
   }
}

@media (max-width: 425px) {
   #firma .photo-text_photo {
      width: 85vw;
   }
}

/*-----------img-text-button-----------*/
#custom-text {
   padding: 0;
}

#custom-text img {
   width: 100%;
}

#img-btn {
   position: relative;
}

#img-btn .img-btn_blok {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   width: 820px;
   justify-content: space-between;
   align-items: center;
}

#img-btn .img-btn_h2,
#img-btn .img-btn_p {
   margin: 0;
   color: #fff;
   text-align: center;
   width: 525px;
   text-transform: none;
}

#img-btn .img-btn_h2 {
   margin-bottom: 50px;
}

.img-btn_btn {
   color: var(--main-color);
   text-transform: uppercase;
   display: inline-block;
   margin-top: 1.25rem;
   padding: 1rem 2rem;
   font-size: 1.125rem;
   border: 1px solid var(--main-color);
   transition-duration: 0.4s;
}

.img-btn_btn:hover {
   color: #fff;
   border: 1px solid #fff;
   transition-duration: 0.4s;
}

@media (max-width: 991px) {
   #img-btn {
      overflow: hidden;
   }

   #img-btn .img-btn_blok {
      flex-direction: column;
   }

   #custom-text img {
      width: auto;
      max-width: none;
   }
}

@media (max-width: 539px) {
   #img-btn .img-btn_p {
      width: 360px;
      margin: auto;
   }
}

/* ---------------manufacturer----------------- */
#ybc-mnf-block {
   margin: 0;
   padding: 0 0 38px 0;
   background: #fff;
}

#ybc-mnf-block .owl-nav {
   display: none;
}

#ybc-mnf-block .ybc-mnf-block-title {
   display: none;
}

#ybc-mnf-block .ybc-mnf-block-a-img {
   text-align: center;
}

/* ---------------newsletter----------------- */
#footer .container-fluid,
#footer .block_newsletter {
   background-color: #4A4A4A;
}

#blockEmailSubscription_displayFooterBefore {
   padding-top: 20px;
}

.block_newsletter #block-newsletter-label {
   color: #fff;
   font-size: 22px;
   font-weight: 700;
   line-height: 141.523%;
}

.block_newsletter {
   max-width: 100%;
}

/* ---------------footer-nav----------------- */
#footer .container {
   position: relative;
}

.footer-container {
   padding-top: 3rem;
}

.footer-container p.h3 {
   color: #000;
   font-size: 16px;
   font-weight: 600;
   line-height: 141.523%;
   letter-spacing: 0.56px;
   text-transform: none;
}

.footer-container a.custom-page-link,
.block-contact p {
   color: #000;
   font-size: 14px;
   line-height: 263.023%;
   letter-spacing: 0.49px;
   margin: 0 0 5px;
}

#social-footer {
   display: flex;
   flex-direction: column;
}

#social-footer .social {
   margin-top: 40px;
   display: flex;
   justify-content: space-around;
}

#contentanywhere-block-12 {
   position: absolute;
   right: 0;
   padding: 34px 0 0 0;
}

@media (max-width: 991px) {
   #social-footer .logo-footer img {
      max-width: 180px;
      height: auto;
   }

   #social-footer .social {
      margin-top: 10px;
   }

   #social-footer .social a img {
      width: 32px;
   }
}

@media (max-width: 767px) {
   .footer-container .block-contact .float-xs-right {
      display: none;
   }

   .footer-container .block-contact .title {
      border-bottom: none;
   }

   .footer-container .block-contact p {
      padding-left: 10px;
   }

   #contentanywhere-block-12 {
      padding: 0;
      right: 5%;
      bottom: 2%;
   }
}

/*------------------footer-copiryght----------------*/
#footer .сopyright {
   margin-top: 5rem;
   background: #d9d9d9;
}

#footer .сopyright p.text-sm-left {
   padding-top: 10px;
   display: table-cell;
   vertical-align: middle;

}

#footer .сopyright a {
   color: rgba(0, 0, 0, 0.33);
   font-size: 14px;
   line-height: 263.023%;
   letter-spacing: 6.02px;
}

/* ------------------------page Product------------------------ */
.breadcrumb {
   margin-top: 20px;
   margin-bottom: 40px;
}

#product .product-container {
   margin-right: 0px;
   margin-left: 0px;
   padding: 30px 55px 30px;
   border: 1px solid #C0C0C0;
}

.product-container h1 {
   color: #242424;
   font-size: 22px;
   font-weight: 500;
   line-height: 171.2%;
   letter-spacing: 0.22px;
   text-transform: none;
}

.product-description p {
   margin-bottom: 0;
   color: #787878;
   text-align: justify;
   font-size: 12px;
   line-height: 171.7%;
   letter-spacing: 1.2px;
}

.product-prices-manufacturer {
   display: flex;
   justify-content: space-between;
}

.product-prices {
   display: flex;
}

.product-price-and-shipping {
   display: flex;
   flex-direction: column;
}

.product-price-and-shipping span.price {
   align-items: center;
   justify-content: center;
   color: #9F9F9F;
}

span.price {
   font-style: 0.75rem;
}

.product-description .product-price-and-shipping span.price-netto {
   font-style: 18px;
}

.tax-shipping-delivery-label {
   padding-left: 8px;
   text-transform: lowercase;
}

.manufacturer-image {
   max-width: 150px;
}

button.btn-primary.add-to-cart {
   background: #2F2F2F;
   color: var(--main-color);
   font-weight: 600;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.btn.btn-primary.add-to-cart:hover {
   color: #2F2F2F;
   background: var(--main-color);
}

.product-add-to-cart .control-label {
   display: none;
}

.btn.disabled,
.btn:disabled {
   opacity: 1;
}

.product-additional-info .tabs {
   margin-top: 0;
   padding: 0;
}

.product-quantity {
   margin-bottom: 16px;
   justify-content: space-between;
}

.blockreassurance_product .item-product {
   margin-right: 10px;
}

#main .tabs {
   padding: 0;
}

/* ---------------------underlined menu-------------------- */
#top-menu .dropdown-item[data-depth="0"] {
   position: relative;
}

#top-menu .dropdown-item[data-depth="0"]::before {
   position: absolute;
   content: '';
   width: 0;
   left: 50%;
   transform: translateX(-50%);
   bottom: 0;
   height: 3px;
   background: var(--main-color);
   transition: width .4s linear;
}

#top-menu .dropdown-item[data-depth="0"]:hover::before {
   width: 100%;
}

/* ---------------------produkt-------------------- */
.product-accessories {
   margin-top: 30px;
}

.product-accessories p.h5 {
   color: #000;
   font-size: 24px;
   font-weight: 500;
   line-height: 188.7%;
   letter-spacing: 2.4px;
}

.product-accessories hr,
.featured-products hr {
   margin-left: 0;
   width: 71px;
   height: 5px;
   background: var(--main-color);
   border-top: none;
}

.tabs .featured-products h2.h2 {
   margin-bottom: 20px;
   color: #000;
   font-size: 24px;
   line-height: 188.7%;
   letter-spacing: 2.4px;
   text-align: left;
   text-transform: none;
}

@media (max-width: 991px) {
   .col-md-6 {
      float: none;
      width: 100%;
   }
}

@media (max-width: 474px) {
   .product-prices-manufacturer {
      display: block;
   }
}

/*---------------sections product featured and accessories----------------*/
.product-description h2.h3 {
   height: 40.8px;
}

.product-accessories .product-add-to-cart .qty,
.featured-products .product-add-to-cart .qty {
   display: none;
}

.product-quantity {
   flex-direction: column;
}

.product-quantity .add {
   justify-content: center;
}

@media (min-width: 1200px) {

   .product-accessories .products .col-xl-3,
   .featured-products .products .col-xl-3 {
      width: 20%;
   }
}


@media (min-width: 992px) {

   .product-accessories .products .col-lg-4,
   .col-lg-5,
   .featured-products .products .col-lg-4,
   .col-lg-5 {
      width: 25%;
   }
}

@media (max-width: 767px) {
   .product-price-and-shipping span.price {
      font-size: 0.8rem;
   }

   button.btn-primary.add-to-cart {
      font-size: 0.7rem;
   }
}

@media (min-width: 576px) {

   /* .product-accessories .product-add-to-cart button.btn-primary.add-to-cart,
   .featured-products button.add-to-cart {
      font-style: 0.8rem;
   } */

   section.product-accessories #product-availability,
   section.featured-products #product-availability {
      font-weight: 500;
   }

   .product-accessories .products .col-sm-6,
   .col-sm-7,
   .featured-products .products .col-sm-6,
   .col-sm-7 {
      width: 33.333333%;
   }
}

@media (max-width: 575px) {

   .product-accessories .products .col-xs-12,
   .featured-products .products .col-xs-12 {
      width: 50%;
   }

   button.btn-primary.add-to-cart {
      font-size: 1rem;
   }
}

@media (max-width: 449px) {
   button.btn-primary.add-to-cart {
      font-size: 0.8rem;
   }
}

/*-------------------------Product category----------------------------*/
#wrapper .breadcrumb[data-depth="1"] {
   display: contents;
}

#wrapper .product-price-and-shipping {
   color: var(--main-color);
}

#wrapper .product-price-and-shipping .tax-shipping-delivery-label {
   color: #9F9F9F;
}

#subcategories {
   display: none;
}

#wrapper .breadcrumb ol {
   padding-top: 20px;
}


#products .product-quantity .qty {
   display: none;
}

#products button.btn.btn-primary.add-to-cart {
   font-size: revert;
}

.product-price-and-shipping span.price {
   display: inline-flex;
}

.pagination .col-md-4 {
   display: none;
}

.block-categories {
   margin-bottom: 0;
   border: 1px solid rgba(0, 0, 0, .25);
   ;
}

.block-categories .category-sub-menu li[data-depth="0"]>a,
#left-column text-uppercase h6 {
   color: #626262;
}

.block-categories .collapse-icons {
   color: #727272;
}

.block-categories .collapse-icons {
   right: -10%;
}

.block-category .block-category-inner .category-cover img {
   width: auto;
}

.product-prices-manufacturer {
   align-items: center;
}

.product-information .product-prices-manufacturer img {
   height: 6.5vh;
}

@media (min-width: 1200px) {

   .featured-products .products .col-sm-6,
   .product-accessories .products .col-sm-6 {
      width: 20%
   }

   #products .col-xl-4,
   #products .col-xl-6 {
      float: left;
      width: 25%;
   }

   .block-categories .collapse-icons {
      right: -5%;
   }
}

@media (max-width: 991px) {
   .product-flags li.product-flag {
      font-size: 0.8rem;
   }
}

@media (min-width: 768px) {
   .col-md-3 {
      width: 35%;
   }

   .col-md-9 {
      width: 65%;
   }
}

@media (max-width: 767px) {
   .col-md-3 {
      width: 30%;
   }

   .block-categories .collapse-icons {
      right: -5%;
   }
}

@media (max-width: 575px) {
   #products .col-xs-12 {
      width: 50%;
   }
}

/* -------------------------O nas------------------------ */
.page-content.page-cms {
   padding: 0;
}

#o-firmie hr,
#page-contact hr {
   margin-left: 0;
   width: 71px;
   height: 5px;
   background: var(--main-color);
   border-top: none;
   margin-bottom: 64px;
}

#o-firmie p {
   color: #5A5A5A;
   text-align: justify;
   font-size: 15px;
   font-weight: 400;
   line-height: 218%;
   letter-spacing: 1.5px;
}

#o-firmie {
   margin-bottom: 60px;
}

#o-firmie hr {
   margin-top: 0.65rem;
}

#o-firmie h2 {
   margin-bottom: 0;
   color: #181818;
}

#o-firmie h3 {
   color: #5A5A5A;
}

#o-firmie p {
   text-align: justify;
}

#o-firmie .ikon-label-firma {
   margin-bottom: 0;
   font-weight: 500;
   font-size: 17px;
   color: #494949;
   text-align: center;
}

#o-firmie .ikon-label-firma-p {
   margin-bottom: 0;
   font-weight: 500;
   font-size: 12px;
   text-align: center;
}

#o-firmie .text-ikons-firma {
   padding-bottom: 40px;
}

#o-firmie .text-ikons-firma_p {
   margin-top: 36px;
}

#o-firmie .text-third {
   margin-top: 34px;
}

#o-firmie .text-third_p {
   margin-top: 36px;
}

@media (max-width: 767px) {
   #o-firmie .photo-text_photo {
      width: 504px;
      max-height: 320px;
      margin: 0 0 26px 0;
   }
}

@media (max-width: 575px) {
   #o-firmie .photo-text_photo {
      width: 94vw;
   }
}

@media (max-width: 499px) {
   #o-firmie .photo-text_photo {
      width: 93vw;
   }
}

@media (max-width: 425px) {
   #o-firmie .photo-text_photo {
      width: 91vw;
   }
}

/* -----------------Contact------------------ */
#page-contact .address {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: flex-end;
   padding-bottom: 50px;
}

#page-contact .address_nip p,
#page-contact .address_tel p {
   color: #5A5A5A;
   font-weight: 400;
}


#page-contact p.intech,
#page-contact .address_tel p.address_email,
#page-contact .address_tel .phone-nombers .nombers p {
   color: #000;
   font-weight: 500;
}

#page-contact .address_tel_email {
   margin-right: 16px;
}

#page-contact .address_tel_phone {
   margin-right: 22px;
}

#page-contact .address_photo img {
   width: auto;
   height: 200px;
}

.phone-nombers {
   display: flex;
}

.address_tel_phone {
   margin-top: 8px;
}


/* ------------------filter ikons
i.product-unavailable {
   filter: var(--main-filter);
}-

.blockreassurance_product .item-product svg.svg replaced-svg path {
   filter: var(--main-filter);
}---------------- */

@media (max-width: 991px) {
   #page-contact .photo-contact {
      max-height: 150px;
   }

   #page-contact .address {
      align-items: flex-start;
   }

   #page-contact .address_tel_email,
   #page-contact .address_tel_phone {
      margin-right: 4px;
   }
}

@media (max-width: 767px) {
   #page-contact .address {
      padding-bottom: 0;
   }

   #page-contact .address {
      align-items: flex-end;
      padding-bottom: 20px;
   }

   #page-contact .photo-contact {
      max-height: 300px;
   }

   #page-contact .address_photo img {
      height: 300px;
   }
}

@media (max-width: 439px) {

   #o-firmie hr,
   #page-contact hr {
      margin-bottom: 44px;
   }

   #page-contact .address {
      justify-content: flex-start;
   }

   #page-contact .address_photo img {
      height: auto;
   }

   #page-contact .address_photo img {
      width: 250px;
   }
}

.blockreassurance_product svg path {
   fill: var(--main-color);
}

/*----------------Page files---------------
.file {
   margin: 10px 0;
}

.file-category {
   padding: 10px 10px 20px;
   text-align: left;
}

#materialy .file img.file_img {
   margin-right: 16px;
}

#materialy .file a {
   color: #626262;
}

@media (max-width: 991px) {
   #materialy .col-md-6 {
      float: left;
      width: 50%;
   }
}

@media (max-width: 719px) {
   #materialy .col-sm-12 {
      float: left;
      width: 50%;
   }
}

@media (max-width: 576px) {
   #materialy .col-sm-12 {
      float: left;
      width: 100%;
   }
}-*/